<div>
  q11
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="sad"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I do not feel sad.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="sad"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2"> I feel sad </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="sad"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I am sad all the time and I can't snap out of it.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="sad"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I am so sad and unhappy that I can't stand it
        </label>
      </div>
    </div>
  </fieldset>
  q2
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="future"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I am not particularly discouraged about the future.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="future"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I feel discouraged about the future.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="future"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I feel I have nothing to look forward to
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="future"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I feel the future is hopeless and that things cannot improve
        </label>
      </div>
    </div>
  </fieldset>
  q3
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="failure"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I do not feel like a failure.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="failure"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I feel I have failed more than the average person.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="failure"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          As I look back on my life, all I can see is a lot of failures.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="failure"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I feel I am a complete failure as a person.
        </label>
      </div>
    </div>
  </fieldset>
  q4
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="enjoythings"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I get as much satisfaction out of things as I used to.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="enjoythings"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I don't enjoy things the way I used to.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="enjoythings"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I don't get real satisfaction out of anything anymore
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="enjoythings"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I am dissatisfied or bored with everything.
        </label>
      </div>
    </div>
  </fieldset>
  q5
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="guilt"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I don't feel particularly guilty
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="guilt"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I feel guilty a good part of the time.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="guilt"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I feel quite guilty most of the time
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="guilt"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I feel guilty all of the time.
        </label>
      </div>
    </div>
  </fieldset>
  q6
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="punishment"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I don't feel I am being punished.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="punishmnet"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I feel I may be punished
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="punishment"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I expect to be punished.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="punishment"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I feel I am being punished.
        </label>
      </div>
    </div>
  </fieldset>
  q7
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="selfloathing"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I don't feel disappointed in myself.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="selfloathing"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I am disappointed in myself.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="selfloathing"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I am disgusted with myself.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="selfloathing"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I hate myself.
        </label>
      </div>
    </div>
  </fieldset>
  q8
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="selfblame"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I don't feel I am any worse than anybody else.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="selfblame"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I am critical of myself for my weaknesses or mistakes.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="selfblame"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I blame myself all the time for my faults.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="selfblame"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I blame myself for everything bad that happens.
        </label>
      </div>
    </div>
  </fieldset>
  q9
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="suicide"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I don't have any thoughts of killing myself
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="suicide"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I have thoughts of killing myself, but I would not carry them out.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="suicide"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I would like to kill myself
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="suicide"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I would kill myself if I had the chance.
        </label>
      </div>
    </div>
  </fieldset>
  q10
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="grieve"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I don't cry any more than usual.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="grieve"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I cry more now than I used to.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="grieve"
          id="gridRadios2"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I cry all the time now.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="grieve"
          id="gridRadios2"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I used to be able to cry, but now I can't cry even though I want to
        </label>
      </div>
    </div>
  </fieldset>
  q11
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="irritation"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I am no more irritated by things than I ever was.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="irritation"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I am slightly more irritated now than usual.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="irritation"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I am quite annoyed or irritated a good deal of the time.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="irritation"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I feel irritated all the time.
        </label>
      </div>
    </div>
  </fieldset>
  q12
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="socialize"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I have not lost interest in other people.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="socialize"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I am less interested in other people than I used to be.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="socialize"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I have lost most of my interest in other people.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="socialize"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I have lost all of my interest in other people.
        </label>
      </div>
    </div>
  </fieldset>
  q13
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="decisions"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I make decisions about as well as I ever could
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="decisions"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I put off making decisions more than I used to.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="decisions"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I have greater difficulty in making decisions more than I used to.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="decisions"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I can't make decisions at all anymore.
        </label>
      </div>
    </div>
  </fieldset>
  q14
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="appearance"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I don't feel that I look any worse than I used to.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="appearance"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I am worried that I am looking old or unattractive.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="appearance"
          id="gridRadios2"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I feel there are permanent changes in my appearance that make me look
          unattractive
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="appearance"
          id="gridRadios2"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I believe that I look ugly.
        </label>
      </div>
    </div>
  </fieldset>
  q15
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="work"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I can work about as well as before
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="gridRadios9"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          It takes an extra effort to get started at doing something.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="gridRadios9"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I have to push myself very hard to do anything.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="work"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I can't do any work at all.
        </label>
      </div>
    </div>
  </fieldset>
  q16
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="sleep"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I can sleep as well as usual
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="sleep"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I don't sleep as well as I used to.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="sleep"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I wake up 1-2 hours earlier than usual and find it hard to get back to
          sleep.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="sleep"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I wake up several hours earlier than I used to and cannot get back to
          sleep.
        </label>
      </div>
    </div>
  </fieldset>
  q17
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="tiredness"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I don't get more tired than usual.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="tiredness"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I get tired more easily than I used to
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="tiredness"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I get tired from doing almost anything.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="tiredness"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I am too tired to do anything.
        </label>
      </div>
    </div>
  </fieldset>
  q18
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="appetite"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          My appetite is no worse than usual.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="appetite"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          My appetite is not as good as it used to be.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="appetite"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          My appetite is much worse now.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="appetite"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I have no appetite at all anymore.
        </label>
      </div>
    </div>
  </fieldset>
  q19
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="weight"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I haven't lost much weight, if any, lately.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="weight"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I have lost more than five pounds.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="weight"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I have lost more than ten pounds.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="weight"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I have lost more than fifteen pounds.
        </label>
      </div>
    </div>
  </fieldset>
  q20
  <fieldset class="form-group">
    <div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="health"
          id="gridRadios1"
          value="0"
        />
        <label class="form-check-label" for="gridRadios1">
          I am no more worried about my health than usual.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="health"
          id="gridRadios2"
          value="1"
        />
        <label class="form-check-label" for="gridRadios2">
          I am worried about physical problems like aches, pains, upset stomach,
          or constipation.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="health"
          id="gridRadios3"
          value="2"
        />
        <label class="form-check-label" for="gridRadios2">
          I am very worried about physical problems and it's hard to think of
          much else.
        </label>
      </div>
      <div class="form-check">
        <input
          class="form-check-input"
          type="radio"
          name="health"
          id="gridRadios4"
          value="3"
        />
        <label class="form-check-label" for="gridRadios2">
          I am so worried about my physical problems that I cannot think of
          anything else.
        </label>
      </div>
    </div>
  </fieldset>
</div>
