<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>About Mental Health</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />

    <script
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      crossorigin="anonymous"
    ></script>

    <link
      href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
      rel="stylesheet"
      type="text/css"
    />

    <link href="../static/css/mhstyles.css" rel="stylesheet" />
  </head>
  <body>

    <header
      class="masthead"
      style="background-image: url('images/pexels-daniel-reche-3601097.jpg')"
    >
      <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
          <div class="col-md-10 col-lg-8 col-xl-7">
            <div class="site-heading">
              <h1>What is Mental Health?</h1>
              <span class="subheading">
                “There is hope, even when your brain tells you there
                isn't.”</span
              >
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="container px-4 px-lg-5">
      <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">

          <div class="post-preview">
           
              <h2 class="post-title">
                Mental health includes our emotional, psychological, and social
                well-being. It affects how we think, feel, and act. It also
                helps determine how we handle stress, relate to others, and make
                choices. Mental health is important at every stage of life, from
                childhood and adolescence through adulthood.
              </h2>
              <h4 class="post-subtitle">
                Over the course of your life, if you experience mental health
                problems, your thinking, mood, and behavior could be affected.
                Many factors contribute to mental health problems, including:
                Biological factors, such as genes or brain chemistry Life
                experiences, such as trauma or abuse Family history of mental
                health problems
              </h4>
           
            <p class="post-meta">
                “Maybe we all have darkness inside of us and some of us are better at dealing with it than others.”
            </p>
          </div>

          <hr class="my-4" />

          <div class="post-preview">
            <h2 class="post-title">Mental Health and Wellness</h2>
            <h3 class="post-subtitle">
              Positive mental health allows people to:
            </h3>
            <h5 class="post-subtitle">
              Positive mental health allows people to:
              <li>Realize their full potential</li>

              <li>Cope with the stresses of life</li>
              <li>Work productively</li>
              <li>Make meaningful contributions to their communities</li>
              <br />
              <h4 class="post-title">
                Ways to maintain positive mental health include:
              </h4>

              <h5>Getting professional help if you need it</h5>
              <h5>Connecting with others and Staying Positive</h5>
              <h5>Getting physically active</h5>
              <h5>Getting enough sleep Developing coping skills.</h5>
            </h5>
            <p class="post-meta">
                “I do not sleep because I am not only afraid of the monsters at my door, but also of the monsters my own mind can conjure. The ones that live within.”
            </p>
          </div>

          <hr class="my-4" />

          <div class="post-preview">
           
              <h2 class="post-title">Early Warning Signs</h2>
              <p>
                Not sure if you or someone you know is living with mental health
                problems? Experiencing one or more of the following feelings or
                behaviors can be an early warning sign of a problem:

                <li>Eating or sleeping too much or too little</li>
                <li>Pulling away from people and usual activities</li>
                <li>Having low or no energy</li>
                <li>Feeling numb or like nothing matters</li>
                <li>Having unexplained aches and pains</li>
                <li>helpless or hopeless</li>
                <li>Smoking, drinking, or using drugs more than usual</li>
                <li>
                  Feeling unusually confused, forgetful, on edge, angry, upset,
                  worried, or scared
                </li>
                <li>Yelling or fighting with family and friends</li>
                <li>
                  Experiencing severe mood swings that cause problems in
                  relationships
                </li>
                <li>Thinking of harming yourself or others</li>
                <li>
                  Inability to perform daily tasks like taking care of your kids
                  or getting to work or school
                </li>
              </p>

              <h3 class="post-subtitle">
                Get Help
Learn how to talk about mental health or how to get help for yourself or someone you care about.
              </h3>
           
          </div>
      
          <hr class="my-4" />

          <hr class="my-4" />
 

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="js/scripts.js"></script>
  </body>
</html>
